body{
    font-family: 'Fraunces', serif;
    margin: 0%;
}


#name{
    color: #ce4fa3;
}



.header{
    width: 40%;
    float: left;
    margin-left:5%;
    padding-left:5% ;
    
}
.header img{width: 100%;
}

section{
    height: 500px;
    padding-bottom: 5px;

    
}
#top{
    background-image: url(personal-website/header-bg.png);
    background-repeat: no-repeat;
    background-position: top;
}
.link-button{
    text-decoration: none;
  color: aliceblue;
    padding: 10px 20px;
    border-radius: 10px;
    background-image: linear-gradient(rgb(241, 15, 128), rgb(219, 57, 125));
    font-weight: bold;}
#biography{
    background-image: url(personal-website/biography-bg.png);
    background-repeat: no-repeat;
    background-position: top;
}


.latest-card{
    width: 20%;
    float: left;
    margin-left:10%;
    padding-left:2%;
    padding-top: 15px;


}
.latest-card img{
    width: 100%;
}
.latest{
    text-align: center;
}
#My-latest-work{
    background-image: url(personal-website/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 200px ;
    padding-top: 100px;
}
#footer{
    background-image: url(personal-website/footer-bg.png);
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 150px;
}
#email{
    height: 70px ;
    background-image:linear-gradient(rgb(238, 37, 114), rgb(245, 87, 126));
    color: whitesmoke;
    border-radius: 10px;
    ;

}
.footer{
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;
    padding-top: 25px;
  
    text-align: center;
    ;
}
footer{text-align: center;}




